.btn {
  float: left;
}

.square {
  background: black;
  width: 150px;
  height: 75px;
  margin: 10px;
  float: left;
  color: white;
  padding-top: 40px;
  text-align: center;
  font-size: 25px;
}


